@import "tailwindcss";

@source "./";

@custom-variant dark (&:is(.dark *));

@theme {
	--shadow-input:
		0px 1px 0px -1px var(--tw-shadow-color),
		0px 1px 1px -1px var(--tw-shadow-color),
		0px 1px 2px -1px var(--tw-shadow-color),
		0px 2px 4px -2px var(--tw-shadow-color),
		0px 3px 6px -3px var(--tw-shadow-color);
	--shadow-highlight:
		inset 0px 0px 0px 1px var(--tw-shadow-color),
		inset 0px 1px 0px var(--tw-shadow-color);

	--color-white: #ffffff;

	--color-plum-0: oklch(96% 0.0042 328.3);
	--color-plum-1: oklch(89.57% 0.005 328.3);
	--color-plum-2: oklch(83.73% 0.005 328.3);
	--color-plum-3: oklch(77.43% 0.0082 328.3);
	--color-plum-4: oklch(71.32% 0.0119 328.3);
	--color-plum-5: oklch(65.9% 0.013 328.3);
	--color-plum-6: oklch(58.8% 0.0116 328.3);
	--color-plum-7: oklch(51.49% 0.0102 328.3);
	--color-plum-8: oklch(45.24% 0.0089 328.3);
	--color-plum-9: oklch(37.67% 0.0074 328.3);
	--color-plum-10: oklch(28.9% 0.0057 328.3);
	--color-plum-11: oklch(19.19% 0.0038 328.3);
	--color-plum-12: oklch(0% 0.003 328.3);
	--color-oatmeal-0: oklch(96% 0.0034 66.2);
	--color-oatmeal-1: oklch(89.57% 0.005 66.2);
	--color-oatmeal-2: oklch(83.73% 0.0082 66.2);
	--color-oatmeal-3: oklch(77.43% 0.0123 66.2);
	--color-oatmeal-4: oklch(71.32% 0.0127 66.2);
	--color-oatmeal-5: oklch(65.9% 0.013 66.2);
	--color-oatmeal-6: oklch(58.8% 0.0116 66.2);
	--color-oatmeal-7: oklch(51.49% 0.0101 66.2);
	--color-oatmeal-8: oklch(45.24% 0.0089 66.2);
	--color-oatmeal-9: oklch(37.67% 0.0074 66.2);
	--color-oatmeal-10: oklch(28.9% 0.0057 66.2);
	--color-oatmeal-11: oklch(19.19% 0.0038 66.2);
	--color-oatmeal-12: oklch(0% 0.003 66.2);
	--color-strawberry-0: oklch(96% 0.0141 0);
	--color-strawberry-1: oklch(92.46% 0.033 0);
	--color-strawberry-2: oklch(87.05% 0.0688 0);
	--color-strawberry-3: oklch(81.1% 0.1218 0);
	--color-strawberry-4: oklch(75.27% 0.1891 0);
	--color-strawberry-5: oklch(70% 0.27 0);
	--color-strawberry-6: oklch(62.79% 0.2864 0);
	--color-strawberry-7: oklch(55.23% 0.252 0);
	--color-strawberry-8: oklch(48.72% 0.2223 0);
	--color-strawberry-9: oklch(40.85% 0.1863 0);
	--color-strawberry-10: oklch(31.71% 0.1442 0);
	--color-strawberry-11: oklch(21.56% 0.0978 0);
	--color-strawberry-12: oklch(0% 0.043 0);
	--color-ruby-0: oklch(96% 0.0129 17.895);
	--color-ruby-1: oklch(92.46% 0.03 17.895);
	--color-ruby-2: oklch(87.05% 0.0626 17.895);
	--color-ruby-3: oklch(81.1% 0.1108 17.895);
	--color-ruby-4: oklch(75.27% 0.1717 17.895);
	--color-ruby-5: oklch(70% 0.245 17.895);
	--color-ruby-6: oklch(62.79% 0.2832 17.895);
	--color-ruby-7: oklch(55.23% 0.2489 17.895);
	--color-ruby-8: oklch(48.72% 0.2193 17.895);
	--color-ruby-9: oklch(40.85% 0.1841 17.895);
	--color-ruby-10: oklch(31.71% 0.1428 17.895);
	--color-ruby-11: oklch(21.56% 0.0968 17.895);
	--color-ruby-12: oklch(0% 0.032 17.895);
	--color-tangerine-0: oklch(96% 0.0129 35.789);
	--color-tangerine-1: oklch(92.46% 0.0305 35.789);
	--color-tangerine-2: oklch(87.05% 0.0632 35.789);
	--color-tangerine-3: oklch(81.1% 0.112 35.789);
	--color-tangerine-4: oklch(75.27% 0.1724 35.789);
	--color-tangerine-5: oklch(70% 0.245 35.789);
	--color-tangerine-6: oklch(62.79% 0.2427 35.789);
	--color-tangerine-7: oklch(55.23% 0.213 35.789);
	--color-tangerine-8: oklch(48.72% 0.188 35.789);
	--color-tangerine-9: oklch(40.85% 0.1576 35.789);
	--color-tangerine-10: oklch(31.71% 0.1225 35.789);
	--color-tangerine-11: oklch(21.56% 0.0835 35.789);
	--color-tangerine-12: oklch(0% 0.0187 35.789);
	--color-ochre-0: oklch(96% 0.0145 53.684);
	--color-ochre-1: oklch(92.46% 0.0343 53.684);
	--color-ochre-2: oklch(87.05% 0.0709 53.684);
	--color-ochre-3: oklch(81.1% 0.1247 53.684);
	--color-ochre-4: oklch(75.27% 0.1916 53.684);
	--color-ochre-5: oklch(70% 0.2 53.684);
	--color-ochre-6: oklch(62.79% 0.1797 53.684);
	--color-ochre-7: oklch(55.23% 0.1578 53.684);
	--color-ochre-8: oklch(48.72% 0.1391 53.684);
	--color-ochre-9: oklch(40.85% 0.1164 53.684);
	--color-ochre-10: oklch(31.71% 0.0906 53.684);
	--color-ochre-11: oklch(21.56% 0.0617 53.684);
	--color-ochre-12: oklch(0% 0.0141 53.684);
	--color-honey-0: oklch(96% 0.0188 71.579);
	--color-honey-1: oklch(92.46% 0.0438 71.579);
	--color-honey-2: oklch(87.05% 0.09 71.579);
	--color-honey-3: oklch(81.1% 0.1574 71.579);
	--color-honey-4: oklch(75.27% 0.1664 71.579);
	--color-honey-5: oklch(70% 0.172 71.579);
	--color-honey-6: oklch(62.79% 0.1542 71.579);
	--color-honey-7: oklch(55.23% 0.136 71.579);
	--color-honey-8: oklch(48.72% 0.1196 71.579);
	--color-honey-9: oklch(40.85% 0.1001 71.579);
	--color-honey-10: oklch(31.71% 0.0776 71.579);
	--color-honey-11: oklch(21.56% 0.0532 71.579);
	--color-honey-12: oklch(0% 0.0117 71.579);
	--color-lemon-0: oklch(96% 0.0301 89.474);
	--color-lemon-1: oklch(92.46% 0.0692 89.474);
	--color-lemon-2: oklch(87.05% 0.1402 89.474);
	--color-lemon-3: oklch(81.1% 0.1531 89.474);
	--color-lemon-4: oklch(75.27% 0.1594 89.474);
	--color-lemon-5: oklch(70% 0.165 89.474);
	--color-lemon-6: oklch(62.79% 0.1478 89.474);
	--color-lemon-7: oklch(55.23% 0.1298 89.474);
	--color-lemon-8: oklch(48.72% 0.1141 89.474);
	--color-lemon-9: oklch(40.85% 0.0962 89.474);
	--color-lemon-10: oklch(31.71% 0.0743 89.474);
	--color-lemon-11: oklch(21.56% 0.0508 89.474);
	--color-lemon-12: oklch(0% 0.0117 89.474);
	--color-pear-0: oklch(96% 0.0932 107.37);
	--color-pear-1: oklch(92.46% 0.1385 107.37);
	--color-pear-2: oklch(87.05% 0.1508 107.37);
	--color-pear-3: oklch(81.1% 0.1615 107.37);
	--color-pear-4: oklch(75.27% 0.1682 107.37);
	--color-pear-5: oklch(70% 0.174 107.37);
	--color-pear-6: oklch(62.79% 0.1561 107.37);
	--color-pear-7: oklch(55.23% 0.1373 107.37);
	--color-pear-8: oklch(48.72% 0.1209 107.37);
	--color-pear-9: oklch(40.85% 0.1014 107.37);
	--color-pear-10: oklch(31.71% 0.0788 107.37);
	--color-pear-11: oklch(21.56% 0.0531 107.37);
	--color-pear-12: oklch(0% 0.0125 107.37);
	--color-pistachio-0: oklch(96% 0.0569 125.26);
	--color-pistachio-1: oklch(92.46% 0.1534 125.26);
	--color-pistachio-2: oklch(87.05% 0.1784 125.26);
	--color-pistachio-3: oklch(81.1% 0.1907 125.26);
	--color-pistachio-4: oklch(75.27% 0.1981 125.26);
	--color-pistachio-5: oklch(70% 0.205 125.26);
	--color-pistachio-6: oklch(62.79% 0.184 125.26);
	--color-pistachio-7: oklch(55.23% 0.1621 125.26);
	--color-pistachio-8: oklch(48.72% 0.1426 125.26);
	--color-pistachio-9: oklch(40.85% 0.1193 125.26);
	--color-pistachio-10: oklch(31.71% 0.0928 125.26);
	--color-pistachio-11: oklch(21.56% 0.0631 125.26);
	--color-pistachio-12: oklch(0% 0.0148 125.26);
	--color-jade-0: oklch(96% 0.0393 143.16);
	--color-jade-1: oklch(92.46% 0.096 143.16);
	--color-jade-2: oklch(87.05% 0.2172 143.16);
	--color-jade-3: oklch(81.1% 0.2634 143.16);
	--color-jade-4: oklch(75.27% 0.274 143.16);
	--color-jade-5: oklch(70% 0.284 143.16);
	--color-jade-6: oklch(62.79% 0.2544 143.16);
	--color-jade-7: oklch(55.23% 0.2241 143.16);
	--color-jade-8: oklch(48.72% 0.1976 143.16);
	--color-jade-9: oklch(40.85% 0.1657 143.16);
	--color-jade-10: oklch(31.71% 0.1284 143.16);
	--color-jade-11: oklch(21.56% 0.0871 143.16);
	--color-jade-12: oklch(0% 0.0218 143.16);
	--color-emerald-0: oklch(96% 0.0332 161.05);
	--color-emerald-1: oklch(92.46% 0.0799 161.05);
	--color-emerald-2: oklch(87.05% 0.175 161.05);
	--color-emerald-3: oklch(81.1% 0.1986 161.05);
	--color-emerald-4: oklch(75.27% 0.2063 161.05);
	--color-emerald-5: oklch(70% 0.214 161.05);
	--color-emerald-6: oklch(62.79% 0.1921 161.05);
	--color-emerald-7: oklch(55.23% 0.1687 161.05);
	--color-emerald-8: oklch(48.72% 0.1484 161.05);
	--color-emerald-9: oklch(40.85% 0.125 161.05);
	--color-emerald-10: oklch(31.71% 0.0968 161.05);
	--color-emerald-11: oklch(21.56% 0.0656 161.05);
	--color-emerald-12: oklch(0% 0.0391 161.05);
	--color-aqua-0: oklch(96% 0.032 178.95);
	--color-aqua-1: oklch(92.46% 0.0764 178.95);
	--color-aqua-2: oklch(87.05% 0.1501 178.95);
	--color-aqua-3: oklch(81.1% 0.1607 178.95);
	--color-aqua-4: oklch(75.27% 0.1666 178.95);
	--color-aqua-5: oklch(70% 0.173 178.95);
	--color-aqua-6: oklch(62.79% 0.1551 178.95);
	--color-aqua-7: oklch(55.23% 0.1364 178.95);
	--color-aqua-8: oklch(48.72% 0.12 178.95);
	--color-aqua-9: oklch(40.85% 0.1005 178.95);
	--color-aqua-10: oklch(31.71% 0.0779 178.95);
	--color-aqua-11: oklch(21.56% 0.053 178.95);
	--color-aqua-12: oklch(0% 0.0304 178.95);
	--color-ocean-0: oklch(96% 0.0308 196.84);
	--color-ocean-1: oklch(92.46% 0.0704 196.84);
	--color-ocean-2: oklch(87.05% 0.1382 196.84);
	--color-ocean-3: oklch(81.1% 0.1482 196.84);
	--color-ocean-4: oklch(75.27% 0.154 196.84);
	--color-ocean-5: oklch(70% 0.159 196.84);
	--color-ocean-6: oklch(62.79% 0.1426 196.84);
	--color-ocean-7: oklch(55.23% 0.1255 196.84);
	--color-ocean-8: oklch(48.72% 0.1107 196.84);
	--color-ocean-9: oklch(40.85% 0.0927 196.84);
	--color-ocean-10: oklch(31.71% 0.0717 196.84);
	--color-ocean-11: oklch(21.56% 0.0491 196.84);
	--color-ocean-12: oklch(0% 0.0273 196.84);
	--color-sky-0: oklch(96% 0.0168 214.74);
	--color-sky-1: oklch(92.46% 0.0385 214.74);
	--color-sky-2: oklch(87.05% 0.0785 214.74);
	--color-sky-3: oklch(81.1% 0.1347 214.74);
	--color-sky-4: oklch(75.27% 0.1585 214.74);
	--color-sky-5: oklch(70% 0.164 214.74);
	--color-sky-6: oklch(62.79% 0.1468 214.74);
	--color-sky-7: oklch(55.23% 0.1289 214.74);
	--color-sky-8: oklch(48.72% 0.114 214.74);
	--color-sky-9: oklch(40.85% 0.0953 214.74);
	--color-sky-10: oklch(31.71% 0.0742 214.74);
	--color-sky-11: oklch(21.56% 0.05 214.74);
	--color-sky-12: oklch(0% 0.0297 214.74);
	--color-cobalt-0: oklch(96% 0.0125 232.63);
	--color-cobalt-1: oklch(92.46% 0.0287 232.63);
	--color-cobalt-2: oklch(87.05% 0.0583 232.63);
	--color-cobalt-3: oklch(81.1% 0.0996 232.63);
	--color-cobalt-4: oklch(75.27% 0.1487 232.63);
	--color-cobalt-5: oklch(70% 0.189 232.63);
	--color-cobalt-6: oklch(62.79% 0.1695 232.63);
	--color-cobalt-7: oklch(55.23% 0.1492 232.63);
	--color-cobalt-8: oklch(48.72% 0.1312 232.63);
	--color-cobalt-9: oklch(40.85% 0.1101 232.63);
	--color-cobalt-10: oklch(31.71% 0.0851 232.63);
	--color-cobalt-11: oklch(21.56% 0.0578 232.63);
	--color-cobalt-12: oklch(0% 0.0258 232.63);
	--color-denim-0: oklch(96% 0.0106 250.53);
	--color-denim-1: oklch(92.46% 0.0245 250.53);
	--color-denim-2: oklch(87.05% 0.0502 250.53);
	--color-denim-3: oklch(81.1% 0.086 250.53);
	--color-denim-4: oklch(75.27% 0.1279 250.53);
	--color-denim-5: oklch(70% 0.176 250.53);
	--color-denim-6: oklch(62.79% 0.2228 250.53);
	--color-denim-7: oklch(55.23% 0.2042 250.53);
	--color-denim-8: oklch(48.72% 0.1799 250.53);
	--color-denim-9: oklch(40.85% 0.151 250.53);
	--color-denim-10: oklch(31.71% 0.1173 250.53);
	--color-denim-11: oklch(21.56% 0.0798 250.53);
	--color-denim-12: oklch(0% 0.0211 250.53);
	--color-iris-0: oklch(96% 0.0102 268.42);
	--color-iris-1: oklch(92.46% 0.0235 268.42);
	--color-iris-2: oklch(87.05% 0.048 268.42);
	--color-iris-3: oklch(81.1% 0.0822 268.42);
	--color-iris-4: oklch(75.27% 0.123 268.42);
	--color-iris-5: oklch(70% 0.169 268.42);
	--color-iris-6: oklch(62.79% 0.2144 268.42);
	--color-iris-7: oklch(55.23% 0.2639 268.42);
	--color-iris-8: oklch(48.72% 0.3084 268.42);
	--color-iris-9: oklch(40.85% 0.2723 268.42);
	--color-iris-10: oklch(31.71% 0.2113 268.42);
	--color-iris-11: oklch(21.56% 0.1434 268.42);
	--color-iris-12: oklch(0% 0.0203 268.42);
	--color-grape-0: oklch(96% 0.0109 286.32);
	--color-grape-1: oklch(92.46% 0.0249 286.32);
	--color-grape-2: oklch(87.05% 0.0507 286.32);
	--color-grape-3: oklch(81.1% 0.0872 286.32);
	--color-grape-4: oklch(75.27% 0.1306 286.32);
	--color-grape-5: oklch(70% 0.179 286.32);
	--color-grape-6: oklch(62.79% 0.2275 286.32);
	--color-grape-7: oklch(55.23% 0.2806 286.32);
	--color-grape-8: oklch(48.72% 0.2877 286.32);
	--color-grape-9: oklch(40.85% 0.2415 286.32);
	--color-grape-10: oklch(31.71% 0.1876 286.32);
	--color-grape-11: oklch(21.56% 0.1274 286.32);
	--color-grape-12: oklch(0% 0.0211 286.32);
	--color-lilac-0: oklch(96% 0.0129 304.21);
	--color-lilac-1: oklch(92.46% 0.0295 304.21);
	--color-lilac-2: oklch(87.05% 0.0604 304.21);
	--color-lilac-3: oklch(81.1% 0.1032 304.21);
	--color-lilac-4: oklch(75.27% 0.154 304.21);
	--color-lilac-5: oklch(70% 0.212 304.21);
	--color-lilac-6: oklch(62.79% 0.2697 304.21);
	--color-lilac-7: oklch(55.23% 0.3009 304.21);
	--color-lilac-8: oklch(48.72% 0.265 304.21);
	--color-lilac-9: oklch(40.85% 0.2221 304.21);
	--color-lilac-10: oklch(31.71% 0.1722 304.21);
	--color-lilac-11: oklch(21.56% 0.1169 304.21);
	--color-lilac-12: oklch(0% 0.0249 304.21);
	--color-fuchsia-0: oklch(96% 0.018 322.11);
	--color-fuchsia-1: oklch(92.46% 0.0414 322.11);
	--color-fuchsia-2: oklch(87.05% 0.0841 322.11);
	--color-fuchsia-3: oklch(81.1% 0.1443 322.11);
	--color-fuchsia-4: oklch(75.27% 0.2164 322.11);
	--color-fuchsia-5: oklch(70% 0.298 322.11);
	--color-fuchsia-6: oklch(62.79% 0.3222 322.11);
	--color-fuchsia-7: oklch(55.23% 0.2831 322.11);
	--color-fuchsia-8: oklch(48.72% 0.2493 322.11);
	--color-fuchsia-9: oklch(40.85% 0.2096 322.11);
	--color-fuchsia-10: oklch(31.71% 0.1627 322.11);
	--color-fuchsia-11: oklch(21.56% 0.1103 322.11);
	--color-fuchsia-12: oklch(0% 0.0352 322.11);
	--color-blush-0: oklch(96% 0.0176 340);
	--color-blush-1: oklch(92.46% 0.0419 340);
	--color-blush-2: oklch(87.05% 0.0874 340);
	--color-blush-3: oklch(81.1% 0.155 340);
	--color-blush-4: oklch(75.27% 0.2411 340);
	--color-blush-5: oklch(70% 0.338 340);
	--color-blush-6: oklch(62.79% 0.3028 340);
	--color-blush-7: oklch(55.23% 0.266 340);
	--color-blush-8: oklch(48.72% 0.2347 340);
	--color-blush-9: oklch(40.85% 0.1964 340);
	--color-blush-10: oklch(31.71% 0.1526 340);
	--color-blush-11: oklch(21.56% 0.1041 340);
	--color-blush-12: oklch(0% 0.0501 340);

	--color-background: var(--color-oatmeal-3);
	--color-layer: var(--color-oatmeal-2);
	--color-layer-2: var(--color-oatmeal-1);
	--color-layer-3: var(--color-oatmeal-0);
	--color-foreground: var(--color-oatmeal-12);
	--color-foreground-muted: color-mix(
		in srgb,
		var(--color-foreground) 65%,
		transparent
	);
}

.dark {
	--color-background: var(--color-oatmeal-12);
	--color-layer: var(--color-oatmeal-11);
	--color-layer-2: var(--color-oatmeal-10);
	--color-layer-3: var(--color-oatmeal-9);
	--color-foreground: var(--color-oatmeal-0);
	--color-foreground-muted: color-mix(
		in srgb,
		var(--color-foreground) 70%,
		transparent
	);
}

.timeline {
	box-shadow: inset 0 0 1px 1px
		color-mix(in srgb, var(--color-background) 20%, transparent);
}

body {
	background-color: var(--color-background);
	color: var(--color-foreground);
	display: flex;
	flex-direction: column;
}

#root {
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding-top: 32px;
}

* {
	scrollbar-width: thin;
	scrollbar-color: transparent;
}

*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: color-mix(in srgb, var(--color-foreground) 20%, transparent);
	border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
	background: color-mix(in srgb, var(--color-foreground) 40%, transparent);
}
