.DS_Store
node_modules
**/*.tsbuildinfo
.worktrees
.env
.idea
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
opencode.json
a.out
target
.scripts

# Local dev files
*.bun-build